body{
    background-color: black;
  }
 .clock{
   width: 220px;
   height: 220px;
   margin-top: 100px;
   background-color: rgb(92, 206, 252);
   padding: 10px;
   color: white;
   font-size: 25px;
   border-radius: 50%;
   position: relative;
   overflow: hidden;
   text-align: center;
   background-image: url(clock.png);
   background-size: 104%;
   background-position: center;
  box-shadow: 0px 0px 15px 5px cyan;
  border: 1px white solid;
 }
 
 .aiguille{
   height: 90%;
   width: 5px;
   border-radius: 5px;
   background-color: rgba(253, 5, 5, 0);
   position: absolute;
   margin-left: 44%;
   box-sizing: border-box;
 }
 
 .cont-aiguille{
   width: 100%;
   height: 60%;
   border-radius: 5px;
 }
 .m6{
   margin-top: 30%;
   position: absolute;
   margin-left: 48%;
 }
 .clock-min{
   display: inline-block;
    width: 220px;
   padding-top: 5px;
   padding-bottom: 5px;
   font-size: 35px;
   font-weight: bold;
   color: rgb(100, 193, 247);
   text-align: center;
   margin-top: 40px;
   border: 1px cyan solid;
   text-shadow: 0px 2px 1px white;
   animation: animate1 2s alternate-reverse infinite;
  border-radius: 15px;
  background-image: linear-gradient(45deg,rgb(76, 199, 221),rgb(0, 0, 0));
 }
 @keyframes animate1 {
     from{ box-shadow: 0px 0px 10px 5px rgb(255, 97, 208);}
     to{box-shadow: 0px 0px 10px 5px rgb(104, 255, 247);}
 }